name: Project List

on:
  push:
    branches:

jobs:
  update-project-list:
    runs-on: ubuntu-latest
  
    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: '3.10.7'

    - name: get the list
      id: project_list
      run: |
        info=$(curl https://api.github.com/users/xyzdevio/repos?sort=created&direction=desc)

        THE_LIST=$(echo $info | python3 -c "import json,sys
        obj=json.load(sys.stdin)
        list=\"\"
        for item in obj:
          list=list+\"\" + item[\"created_at\"][:10] + \" : [\" + item[\"name\"] + \"](./\" + item[\"name\"] + \")<br/><br/>\"
        print(list)
        ")

        echo $THE_LIST
        echo "the_list=$THE_LIST" >> $GITHUB_ENV
   
    - uses: actions/checkout@v3
      with:
          fetch-depth: 2

    - name: overwrite readme
      id: readme
      run: |
        content=`cat README.md`
        replace="(<!-- PROJECT LIST_BEGIN -->)\\(.*\\)(<!-- PROJECT LIST_END -->)"
        replacewith="<!-- PROJECT LIST_BEGIN -->${{ env.the_list }}<-- PROJECT LIST_END --!>"
        sed "s|$replace|${replacewith}|" <(echo $content) > README.md
        cat README.md
        diff_var= ${git diff --name-only HEAD^..HEAD}

        echo $diff_var
        echo "diff_var=$diff_var" >> $GITHUB_ENV

    - name: Save overwrite if needed
      id: save
      if: ${{env.diff_var}}
      uses: devops-infra/action-commit-push@v0.9.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        commit_message: Update projects list


